.arrow{
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    width: 20px;
    height: 200px;
    color: #fff;
    background: rgba(0,0,0,.40);
    padding: 15px;
    cursor: pointer;
}

.arrow:hover{
    background: rgba(0,0,0,.80);
}

.arrow i{
    top: 28%;
    position: absolute;
    font-size: 22px;
    left: 15px;
}

.arrowLeft{
    left: 20px;
}

.arrowRight{
    right: 0px;
}

.arrows{
    width: 100%;
    height: 150px;
    white-space: nowrap;
    margin: 0px 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
}

.listMovie{
    width: 100vw;
    max-width: 1000vw;
    height: 150px;
    white-space: nowrap;
    margin: 0px 0px;
    overflow: hidden;
    position: relative;
    top: 0px;
}

.carrouselInner{
    position: relative;
}

.item{
    display: inline;
}

.moved{
    animation: 1s move;
}

.title{
    width: 100%;
    position: relative;
    color: #fff;
    left: 70px;
}

.wrapper{
    margin: 0px auto;
}

.absolute-w{
    position: absolute;
    right: 14px;
    margin-top: 40px;
    float: right;
    transform: rotate(-180deg);
}

.absolute-w li{
    width: 14px;
    height: 5px;
    background-color: #a7a3a3;
    list-style: none;
    display: inline-flex;
    float: right;
    margin-right: 5px;
}

.wrapper{
    position: relative;
    top: 140px;
}

.ativo{
    background-color: #fff !important;
}

@keyframes move{
    0%{
        transform: translate3d(0%);
    }
    100%{
        transform: translate3d(-100%);
    }
}